<div class="register">
    <div class="register-left"><img src="assets/images/shipIcon.png" /></div>
    
    <h3 class="card-header">Glemt Kodeord</h3>
    <div class="card-body">
        <!-- Forgot-password form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Indtast din Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Mangler Email</div>
                    <div *ngIf="f.email.errors.email">Forkert Email</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
                <a routerLink="../logind" class="btn btn-link">Tilbage</a>
            </div>
        </form>
    </div>
</div>
